/* src/index.css */

/* Reiniciar los márgenes y padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Configurar tamaño completo para html, body y el contenedor principal */
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; /* Si tienes una fuente personalizada */
}

/* Estilo para el contenedor principal de la aplicación */
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
